@media screen and (max-width : 370px) {
    .header-homepage {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .h-upper-right,
    .h-menu,
    .h-sing-in {
        display: none !important;
    }

    .header-upper {
        justify-content: center !important;
    }

    .header-bottom {
        padding: 0.5rem 1.3rem !important;
    }

    .cart-icon {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.105);
    }

    .hero-img img {
        max-width: 100%;
    }

    .swiper-items {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-items {
        min-height: 150vh !important;
    }

    .hero-img {
        width: 100%;
        order: 1;
    }

    .element-1 {
        display: none;
    }

    .r-swiper {
        align-items: center !important;
        order: 2;
    }

    .swiper-right {
        align-items: center !important;
    }

    .img-cat img {
        width: 50px;
        height: 50px;
    }

    .image-box p {
        font-size: 12px !important;
    }

    .hero-h2 {
        font-size: 20px;
    }

    .hero-p {
        font-size: 14px;
    }

    .hero-btn {
        flex-direction: column;
    }

    /* Reasons to buy section */
    .s2-div {
        height: auto;
        padding-top: 30px !important;
        clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);

    }


    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }

    .s2-box-item1 {
        flex-direction: column !important;
        width: 100% !important;
        align-items: start !important;
    }

    .s2-box-item1 p {
        width: 100%;
        margin-right: 0 !important;
    }

    .s2-items {
        flex-direction: column;
    }

    .s2-item {
        width: 100%;
    }

    .s2-item-1 {
        flex-direction: column !important;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /* food category section */
    .food-category {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .category-img {
        width: 120px;
        top: -18px;
    }
    
    /* off pet */
    .off-pet {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .off-swiper-button-next,
    .off-swiper-button-prev {
        opacity: 1 !important;
        font-size: x-large !important;
    }

    .off-swiper-button-prev {
        right: -10px;
    }

    .off-swiper-button-next {
        left: -25px;
    }

    .off-buttons {
        display: none;
    }

    .btn-heart {
        display: flex !important;
    }
    .off-pet {
        flex-direction: column;
    }
    .off-pet-right {
        width: 100%;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .off-pet-right h2 {
        width: 80%;
    }
    .off-pet-left {
        width: 100%;
        margin-top: 2rem;
    }
     /* product Brand section */
     .brand-section {
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }
    .right-content img{
        display: none;
    }
    .right-content {
        width: 100%;
        border-end-end-radius: 0 !important;
        border-end-start-radius: 0 !important;

    }
    .right-content p {
        width: 100%;
        font-size: 96%;
    }
    .brand-items {
        flex-direction: column;
    }
    .right-section , .left-section {
        width: 100% !important;
    }
    .brand-img {
        width: 90% !important;
        padding-top: 0 !important;
    }
    /* about pet shop section */
    .about-section {
        height: 70rem !important;
    }
    .about-items{
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
        flex-direction: column;
    }
    .about-item1{
        width: 100% !important;
    }
    .about-item1 div img {
        width: 20% !important;
    }
    .about-item2 {
        display: none !important;
    }
    .about-item3 {
        width: 100%;
        margin-right: 0rem;
    }


}

@media screen and (max-width : 430px) and (min-width : 370px) {
    .header-homepage {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .h-upper-right,
    .h-menu,
    .h-sing-in {
        display: none !important;
    }

    .header-upper {
        justify-content: center !important;
    }

    .header-bottom {
        padding: 0.5rem 1.3rem !important;
    }

    .cart-icon {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.105);
    }

    .hero-items {
        min-height: 145vh !important;
    }

    .hero-img img {
        max-width: 100%;
    }

    .swiper-items {
        padding-right: 30px !important;
        padding-left: 30px !important;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-img {
        width: 100%;
        order: 1;
    }

    .element-1 {
        display: none;
    }

    .r-swiper {
        align-items: center !important;
        order: 2;
    }

    .swiper-right {
        align-items: center !important;
    }

    .img-cat img {
        width: 50px;
        height: 50px;
    }

    .image-box p {
        font-size: 12px !important;
    }

    .hero-h2 {
        font-size: 20px;
    }

    .hero-p {
        font-size: 14px;
    }

    .hero-btn {
        flex-direction: column;
    }

    /* Reasons to buy section */
    .s2-div {
        height: auto;
        padding-top: 30px !important;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%);

    }


    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }

    .s2-box-item1 {
        flex-direction: column !important;
        width: 100% !important;
        align-items: start !important;
    }

    .s2-box-item1 p {
        width: 100%;
        margin-right: 0 !important;
    }

    .s2-items {
        flex-direction: column;
    }

    .s2-item {
        width: 100%;
    }

    .s2-item-1 {
        flex-direction: column !important;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /* food category section */
    .food-category {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .category-img {
        width: 120px;
        top: -18px;
    }
    
    /* off pet */
    .off-pet {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .off-swiper-button-next,
    .off-swiper-button-prev {
        opacity: 1 !important;
        font-size: x-large !important;
    }

    .off-swiper-button-prev {
        right: -10px;
    }

    .off-swiper-button-next {
        left: -25px;
    }

    .off-buttons {
        display: none;
    }

    .btn-heart {
        display: flex !important;
    }
    .off-pet {
        flex-direction: column;
    }
    .off-pet-right {
        width: 100%;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .off-pet-right h2 {
        width: 60%;
    }
    .off-pet-left {
        width: 100%;
        margin-top: 2rem;
    }
     /* product Brand section */
     .brand-section {
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }
    .right-content img{
        display: none;
    }
    .right-content {
        width: 100%;
        border-end-end-radius: 0 !important;
        border-end-start-radius: 0 !important;

    }
    .right-content p {
        width: 100%;
        font-size: 96%;
    }
    .brand-items {
        flex-direction: column;
    }
    .right-section , .left-section {
        width: 100% !important;
    }
    .brand-img {
        width: 90% !important;
        padding-top: 0 !important;
    }   
     /* about pet shop section */
    .about-section {
        height: 64rem !important;
    }
    .about-items{
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
        flex-direction: column;
    }
    .about-item1{
        width: 100% !important;
    }
    .about-item1 div img {
        width: 20% !important;
    }
    .about-item2 {
        display: none !important;
    }
    .about-item3 {
        width: 100%;
        margin-right: 0rem;
    }




}

@media screen and (max-width : 570px) and (min-width : 431px) {
    .header-homepage {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .h-upper-right,
    .h-menu,
    .h-sing-in {
        display: none !important;
    }

    .header-upper {
        justify-content: center !important;
    }

    .header-bottom {
        padding: 0.5rem 1.3rem !important;
    }

    .hero-items {
        min-height: 145vh !important;
    }

    .cart-icon {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.105);
    }

    .hero-img img {
        max-width: 95%;
    }

    .swiper-items {
        padding-right: 50px !important;
        padding-left: 50px !important;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-img {
        width: 90%;
        order: 1;
    }

    .element-1 {
        display: none;
    }

    .r-swiper {
        align-items: center !important;
        order: 2;
    }

    .swiper-right {
        align-items: center !important;
    }

    .img-cat img {
        width: 50px;
        height: 50px;
    }

    .image-box p {
        font-size: 13px !important;
    }

    .hero-h2 {
        font-size: 30px;
    }

    /* Reasons to buy section */
    .s2-div {
        height: auto;
        padding-top: 30px !important;
        clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 100%);

    }


    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }

    .s2-box-item1 {
        flex-direction: column !important;
        width: 100% !important;
        align-items: start !important;
    }

    .s2-box-item1 p {
        width: 100%;
        margin-right: 0 !important;
    }

    .s2-items {
        flex-direction: column;
    }

    .s2-item {
        width: 100%;
    }

    .s2-item-1 {
        flex-direction: column !important;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    /* food category section */
    .food-category {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    .category-img {
        width: 120px;
        top: -18px;
    }
    
    /* off pet */
    .off-pet {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .off-swiper-button-next,
    .off-swiper-button-prev {
        opacity: 1 !important;
        font-size: x-large !important;
    }

    .off-swiper-button-prev {
        right: -10px;
    }

    .off-swiper-button-next {
        left: -25px;
    }

    .off-buttons {
        display: none;
    }

    .btn-heart {
        display: flex !important;
    }
    .off-pet {
        flex-direction: column;
    }
    .off-pet-right {
        width: 100%;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .off-pet-right h2 {
        width: 50%;
    }
    .off-pet-left {
        width: 100%;
        margin-top: 2rem;
    }
     /* product Brand section */
     .brand-section {
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }
    .right-content img{
        display: none;
    }
    .right-content {
        width: 100%;
        border-end-end-radius: 0 !important;
        border-end-start-radius: 0 !important;

    }
    .right-content p {
        width: 100%;
        font-size: 96%;
    }
    .brand-items {
        flex-direction: column;
    }
    .right-section , .left-section {
        width: 100% !important;
    }
    .brand-img {
        width: 90% !important;
        padding-top: 0 !important;
    }
    
    /* about pet shop section */
    .about-section {
        height: 64rem !important;
    }
    .about-items{
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
        flex-direction: column;
    }
    .about-item1{
        width: 100% !important;
    }
    .about-item1 div img {
        width: 20% !important;
    }
    .about-item2 {
        display: none !important;
    }
    .about-item3 {
        width: 100%;
        margin-right: 0rem;
    }



}

@media screen and (max-width : 768px) and (min-width: 571px) {
    .header-homepage {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .h-upper-right,
    .h-menu,
    .h-sing-in {
        display: none !important;
    }

    .header-upper {
        justify-content: center !important;
    }

    .header-bottom {
        padding: 0.5rem 1.3rem !important;
    }

    .cart-icon {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.105);
    }

    .swiper-items {
        padding-right: 90px !important;
        padding-left: 90px !important;
    }

    .hero-items {
        min-height: 145vh !important;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .hero-img {
        width: 90%;
        order: 1;
    }

    .element-1 {
        display: none;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .r-swiper {
        align-items: center !important;
        order: 2;
    }

    .swiper-right {
        align-items: center !important;
    }

    .hero-img {
        width: 308px;
    }

    .img-cat img {
        width: 50px;
        height: 50px;
    }

    .image-box p {
        font-size: 13px !important;
    }

    .hero-h2 {
        font-size: 30px;
    }

    /* Reasons to buy section */
    .s2-div {
        height: auto;
        padding-top: 30px !important;
        clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 100%);

    }


    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
        height: auto;
    }

    .s2-box-item1 {
        flex-direction: column !important;
        width: 100% !important;
        align-items: start !important;
    }

    .s2-box-item1 p {
        width: 100%;
        margin-right: 0 !important;
    }

    .s2-items {
        flex-direction: column;
    }

    .s2-item {
        width: 100%;
    }

    .s2-item-1 {
        flex-direction: column !important;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    /* food category section */
    .food-category {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    /* off pet */
    .off-pet {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .off-swiper-button-next,
    .off-swiper-button-prev {
        opacity: 1 !important;
        font-size: x-large !important;
    }

    .off-swiper-button-prev {
        right: -10px;
    }

    .off-swiper-button-next {
        left: -25px;
    }

    .off-buttons {
        display: none;
    }

    .btn-heart {
        display: flex !important;
    }
    .off-pet {
        flex-direction: column;
    }
    .off-pet-right {
        width: 100%;
        
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .off-pet-right h2 {
        width: 30%;
    }
    .off-pet-left {
        width: 100%;
        margin-top: 2rem;
    }     /* product Brand section */
    .brand-section {
       padding-left: 1.4rem !important;
       padding-right: 1.4rem !important;
   }
   .right-content img{
       display: none;
   }
   .right-content {
       width: 100%;
       border-end-end-radius: 0 !important;
       border-end-start-radius: 0 !important;

   }
   .right-content p {
       width: 100%;
       font-size: 96%;
   }
   .brand-items {
       flex-direction: column;
   }
   .right-section , .left-section {
       width: 100% !important;
   }
   .brand-img {
       width: 90% !important;
       padding-top: 0 !important;
   }

    /* about pet shop section */
    .about-section {
        height: 64rem !important;
    }
    .about-items{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        flex-direction: column;
    }
    .about-item1{
        width: 100% !important;
    }
    .about-item1 div img {
        width: 20% !important;
    }
    .about-item2 {
        display: none !important;
    }
    .about-item3 {
        width: 100%;
        margin-right: 0rem;
    }



}

@media screen and (max-width : 992px) and (min-width: 768px) {
    .header-homepage {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .h-upper-right,
    .h-menu,
    .h-sing-in {
        display: none !important;
    }

    .header-upper {
        justify-content: center !important;
    }

    .header-bottom {
        padding: 0.5rem 1.3rem !important;
    }

    .cart-icon {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.105);
    }

    .swiper-items {
        padding-right: 90px !important;
        padding-left: 90px !important;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .swiper-right {
        align-items: center !important;
    }

    .hero-items {
        min-height: 90vh !important;
    }

    .hero-img {
        width: 308px;
    }

    .img-cat img {
        width: 50px;
        height: 50px;
    }

    .image-box p {
        font-size: 13px !important;
    }

    .hero-h2 {
        font-size: 30px;
    }

    .element-1 {
        display: none;
    }

    /* Reasons to buy section */
    .s2-div {
        height: auto;
        clip-path: polygon(0 0, 100% 17%, 100% 100%, 0 100%);
    }

    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    .p-box {
        width: 50%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* food category section */
    .food-category {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }

    /* off pet */
    .off-pet {
        margin-left: 2px !important;
        margin-right: 2px !important;
    }

    .off-swiper-button-next,
    .off-swiper-button-prev {
        opacity: 1 !important;
        font-size: x-large !important;
    }

    .off-swiper-button-prev {
        right: -10px;
    }

    .off-swiper-button-next {
        left: -25px;
    }

    .off-buttons {
        display: none;
    }

    .btn-heart {
        display: flex !important;
    }

    .off-pet-right {
        width: 25%;
    }

    .off-pet-left {
        width: 75%;
    }
     /* product Brand section */
     .brand-section {
        padding-left: 1.4rem !important;
        padding-right: 1.4rem !important;
    }
    .right-content img{
        display: none;
    }
    .right-content {
        width: 100%;
        border-end-end-radius: 0 !important;
        border-end-start-radius: 0 !important;

    }
    .right-content p {
        width: 100%;
        font-size: 96%;
    }
    .brand-items {
        flex-direction: column;
    }
    .right-section , .left-section {
        width: 100% !important;
    }
    .brand-img {
        width: 90% !important;
        padding-top: 0 !important;
    } 
    
    /* about pet shop section */
    .about-section {
        height: 64rem !important;
    }
    .about-items{
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        flex-direction: column;
    }
    .about-item1{
        width: 100% !important;
    }
    .about-item1 div img {
        width: 20% !important;
    }
    .about-item2 {
        display: none !important;
    }
    .about-item3 {
        width: 100%;
        margin-right: 0rem;
    }



}

@media screen and (max-width : 1090px) and (min-width: 993px) {
    .header-homepage {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .sidebar {
        display: none !important;
    }

    .swiper-items {
        padding-right: 80px !important;
    }

    .hero-items {
        min-height: 95vh !important;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .swiper-title1 {
        width: 50%;
        line-height: 1.2 !important;
        margin: 0;
    }

    .swiper-title2 {
        width: 50%;
        line-height: 1.2 !important;
        margin: 0;
    }

    .element-1 {
        width: 12rem;
    }

    /* Reasons to buy section */
    .s2-div {
        height: auto;
        clip-path: polygon(0 0, 100% 18%, 100% 100%, 0 100%);
    }

    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* food category section */
    .food-category {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    /* off pet */
    .off-pet {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    /* product Brand section */
    .brand-section {
        padding-left: 1.7rem !important;
        padding-right: 1.7rem !important;
    }
    .right-content{
        width: 98%;
    }
    .right-content p {
        width: 100%;
        font-size: 80%;
    }

    /* about pet shop section */
    .about-items{
        padding-left: 2rem !important;
        padding-right: 2rem !important;

    }
    .about-item3 {
        width: 46%;
        margin-right: 1rem;
    }


}

@media screen and (max-width : 1200px) and (min-width: 1090px) {
    .header-homepage {
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }

    .sidebar {
        display: none !important;
    }

    .hero-items {
        min-height: 95vh !important;
    }

    .hero-swiper {
        padding-left: 0;
        padding-right: 0;
    }

    .swiper-title1 {
        margin: 0;
    }

    .swiper-title2 {
        width: 50%;
        line-height: 1.2 !important;
        margin: 0;

    }

    /* Reasons to buy section */
    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* food category section */
    .food-category {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    /* off pet */
    .off-pet {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    /* product Brand section */
    .brand-section {
        padding-left: 1.7rem !important;
        padding-right: 1.7rem !important;
    }
    .right-content{
        width: 88.3%;
    }
    .right-content p {
        width: 100%;
        font-size: 80%;
    }
    
    /* about pet shop section */
    .about-items{
        padding-left: 2rem !important;
        padding-right: 2rem !important;

    }


}

@media screen and (max-width : 1280px)and (min-width: 1200px) {
    .header-homepage {
        margin-left: 2rem !important;
        margin-right: 2rem !important;
    }

    .sidebar {
        display: none !important;
    }

    .hero-swiper {
        padding-left: 20px;
        padding-right: 20px;
    }

    .hero-items {
        min-height: 95vh !important;
    }

    /* Reasons to buy section */
    .s2-box {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* food category section */
    .food-category {
        padding-left: 1px !important;
        padding-right: 1px !important;
    }

    /* off pet */
    .off-pet {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    /* product Brand section */
    .brand-section {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
    /* about pet shop section */
    .about-items{
        padding-left: 1rem !important;
        padding-right: 1rem !important;

    }
}

@media screen and (max-width : 1320px) and (min-width: 1280px) {
    .sidebar {
        display: none !important;
    }

    .hero-swiper {
        padding-left: 50px;
        padding-right: 50px;
    }

    .hero-items {
        min-height: 95vh !important;
    }

    /* off pet */
    .off-pet {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
    /* product Brand section */
    .brand-section {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }
    /* about pet shop section */
    .about-items{
        padding-left: 2rem !important;
        padding-right: 2rem !important;

    }
}

@media screen and (min-width : 1320px) {
    .sidebar {
        display: none !important;
    }

    /* food category */
    .food-category-items {
        padding-left: 30px;
        padding-right: 30px;
    }

}