:root {
    --orange: #ED9951;
}

@media screen and (min-width: 1025px) {
    .d-1025-block {
        display: block !important;
    }

    .d-1025-none {
        display: none !important;
    }

    .d-1025-flex {
        display: flex !important;
    }

    .footer-sections {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .about-us {
        position: absolute;
        top: -15%;
        right: 35%;
        max-width: 30% !important;
    }

    footer {
        position: relative;
    }

    .footer-content {
        padding-inline: .5rem !important;
    }

    .footer-logo {
        width: 80%;
    }
}

@media screen and (min-width: 1100px) {
    .searched-product {
        width: 50% !important;
    }
}

@media screen and (min-width: 1300px) {
    .search-box {
        width: 670px;
    }

    .footer-sections {
        margin-inline: 4rem;
    }

    .contact-us {
        margin-right: 1rem;
    }

    .important-links {
        margin-left: 1rem;
    }

    .about-us {
        min-width: 27% !important;
    }

    .about-us-description {
        font-size: 20px !important;
        line-height: 35px !important;
    }
}

.shop {
    background-color: #fff;
    direction: rtl;
}

.bg-orange {
    background: var(--orange) !important;
}

.text-orange {
    color: var(--orange) !important;
}

.pointer {
    cursor: pointer;
}

.h-full {
    height: 100vh !important;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

header {
    z-index: 10;
}

.woodmart-logo {
    max-width: 138px;
}

.count {
    font-size: 8px;
}

.petshop-logo {
    max-width: 210px;
}

input:focus {
    outline: 0;
}

.select-category {
    font-size: 15px;
}

.search-box input {
    min-width: 290px;
}

.search-box {
    min-width: 490px;
}

.select-category {
    width: 172px;
}

.select-category-menu {
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

.header-item {
    color: #333;
    transition: color .1s ease-in-out;
}

.header-item:hover,
.search-icon:hover {
    color: rgba(51, 51, 51, .6);
}

.header-icon {
    font-size: 18px;
}

.category-menu {
    border-radius: 12px 12px 0 0;
    width: 270px;
}

nav ul li:hover,
.link-active {
    color: var(--orange);
}

nav ul li a {
    color: inherit;
}

.bg-orange .social-media-link {
    color: white;
    transition: color .1s ease-in-out;
}

.bg-orange .social-media-link:hover {
    color: rgba(255, 255, 255, .6);
}

nav .social-media-link {
    color: rgba(0, 0, 0, .6);
    transition: color .1s ease-in-out;
}

nav .social-media-link:hover {
    color: rgba(0, 0, 0, .8);
}

nav .social-media {
    align-self: center !important;
}

.header-navbar {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    min-height: 56px;
}

.category-item:hover {
    background-color: #f7f7f7;
    color: #555;
}

.showmore-btn {
    border-radius: 0 0 12px 12px;
}

.search-page {
    position: fixed;
    width: 100%;
    height: 75vh;
    bottom: 0;
    right: 0;
    z-index: 100;
}

.search-page input,
.search-page ::placeholder {
    color: #333;
    font-weight: 600;
}

.searched-product-img {
    width: 180px;
}

.view-all:hover {
    background-color: #f7f7f7;
}

.searchbox-menu {
    max-height: 300px;
    height: auto;
    border-radius: 12px;
    width: 95%;
    right: 2%;
}

.searched-product {
    width: 100%;
}

.searched-product:hover {
    background-color: #f7f7f7;
}

.searchbox-menu .searched-product-img,
.cart-img {
    width: 65px;
}

.search-section {
    box-shadow: 0 -1px 9px rgba(0, 0, 0, .17);
}

.search-section input {
    border: 0;
    color: #767676;
}

.search-section input:focus {
    border-left: 1px solid #dee2e6;
}

.menu {
    font-size: 14px !important;
}

.menu .searched-product-img {
    width: 45px;
}

.searched-products-list {
    max-height: 330px;
    height: auto;
}

.option-btn {
    background-color: rgba(0, 0, 0, .04);
    color: #909090;
    font-size: 13px;
    font-weight: 900;
}

.option-btn:hover,
.menu .active {
    color: #333;
    border-bottom: 2px solid var(--orange);
}

.menu .active {
    background-color: rgba(0, 0, 0, .07) !important;
}

/* main */

main {
    background-color: rgb(255, 250, 238);
}

.filter-section {
    padding-block: 1.25rem;
}

.title {
    background-color: #efefef;
    color: #464646;
    border-radius: 4px;
}

.title svg {
    font-size: 26px;
}

.title h3 {
    font-size: 17px;
}

.border-radius-16 {
    border-radius: 16px;
}

.box-shadow {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.checkbox {
    width: 1rem;
    height: 1rem;
}

.color {
    width: 1.4rem;
    height: 1.4rem;
}

.quantity {
    font-size: 12px;
    border-radius: 35px;
}

.color,
.weight {
    position: relative;
}

.filter {
    padding-top: .75rem;
}

.filter:hover .color::after,
.filter:hover .weight::after,
.color:hover::after,
.selected::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: black;
    display: block;
    bottom: -5px;
    position: absolute;
}

.filter:hover {
    color: black;
}

.filter:hover .quantity {
    color: white;
    background: var(--orange);
}

.filter:hover .checkbox {
    border-color: var(--orange) !important;
}

.grid-icon {
    color: #bbb;
    font-size: 180%;
}

.grid-icon:hover {
    color: #666;
}

.show-count {
    color: #767676;
}

.show-count:hover {
    color: #333;
}

.ordering {
    width: 210px;
    border-bottom: 2px solid #dee2e6;
    transition: .4s ease;
    font-size: 15px;
}

.ordering:focus {
    border-bottom-color: var(--orange);
}

.ordering-icon {
    color: #bbb;
}

.ordering-list {
    border: 1px solid black;
}

.ordering-item:hover {
    background-color: #1E73BE;
    color: white;
}

.fw-500 {
    font-weight: 500;
}

.product-img {
    width: 176px;
}

.product {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    transition: .2s ease-in-out;
}

.product:hover {
    transform: scale(1.005);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.product-hover {
    border-radius: 0 0 12px 12px;
}

.ellipsis {
    visibility: hidden;
    opacity: 0;
    transition: .2s ease-in-out;
    background: linear-gradient(to bottom, transparent 0, #fff 90%);
}

.product-hover:hover .ellipsis {
    visibility: visible;
    opacity: 1;
}

.line {
    width: 1px;
    height: 20px;
}

.text-hide {
    overflow: hidden;
    height: 50px;
}

.product-option {
    font-size: 22px;
    cursor: pointer;
}

.product-option:hover {
    color: #767676;
}

.disabled {
    cursor: auto !important;
}

.product-detail .close-btn {
    position: fixed;
    top: 4%;
    left: 7%;
    z-index: 5;
}

.comparison {
    padding-block: .75rem;
    bottom: 28%;
}

.product-detail {
    background-color: rgba(255, 255, 255, .9);
    height: 200px;
    font-size: 15px;
    border-radius: 12px;
}

.product .color {
    width: 1.6rem !important;
    height: 1.6rem !important;
}

/* footer */

.orange-line {
    background: linear-gradient(135deg, #F6BA87 0%, #ED9951 100%);
    border-radius: 6px 6px 0 0;
    height: 10px;
}

.footer-content {
    background: url(images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.icon {
    background: linear-gradient(135deg, #F6BA87 0%, #ED9951 100%);
    width: 46px;
    height: 46px;
    border-radius: 10px;
}

.contact-title {
    color: #FFFFFFA8;
    font-size: 16px;
}

.contact-content {
    font-size: 17px;
}

.footer-social-media,
.footer-logo {
    background-color: #FFFFFF36;
    border-radius: 10px;
    padding-block: .75rem;
}

.about-us {
    border-radius: 20px;
    text-align: justify;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

.about-us-description {
    color: #273544B0;
    font-size: 16px;
    line-height: 30px;
}

.important-links h2 {
    font-size: 18px;
}

.footer-logo img {
    width: 85px;
}

.copyright {
    background: linear-gradient(135deg, #F6BA87 0%, #ED9951 100%);
    border-radius: 16px 16px 0 0;
}

/* side menu */

.sidemenu {
    z-index: 1000;
    color: #636363;
    width: 29% !important;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 100;
}

.close-btn {
    color: #333;
}

.close-btn:hover {
    color: #767676;
}

/* login */

.required::after {
    content: "*";
    color: red;
}

.login input:focus {
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.account-icon {
    color: #f1f1f1;
    font-size: 54px;
}

.create-account {
    border-bottom: 2px solid var(--orange);
    font-size: 13px;
    color: #636363;
}

/* cart */

.empty-cart-icon {
    font-size: 86px;
    color: #f1f1f1;
}

.return-btn {
    font-size: 12px;
    padding: 6px 14px 8px 14px;
}

.cart-product:hover {
    background-color: #f7f7f7;
    color: #8e8e8e;
}

.cart-footer,
.sidemenu-header {
    width: 29%;
}

.sidemenu-container {
    margin-top: 5rem;
}

.cart .sidemenu-container {
    height: 360px;
}