:root {
    --orange : #ED9951;
}

@media screen and (min-width: 1025px) {
    .d-1025-block {
        display: block !important;
    }

    .d-1025-none {
        display: none !important;
    }
}

.shop {
    background-color: #fff;
    direction: rtl;
}

.bg-orange {
    background: var(--orange);
}

.pointer {
    cursor: pointer;
}

.h-full {
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.woodmart-logo {
    max-width: 138px;
}

.count {
    font-size: 8px;
}

.petshop-logo {
    max-width: 210px;
}

input:focus {
    outline: 0;
}

.select-category {
    font-size: 15px;
}

.search-box {
    min-width: 300px;
    width: 670px;
}

.w-68 {
    width: 68%;
}