:root {
    --orange : #ED9951;
}

@media screen and (min-width: 1025px) {
    
}

.shop {
    background-color: #fff;
    direction: rtl;
}

.pointer {
    cursor: pointer;
}

.h-full {
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.socialmedia-nav {
    background: var(--orange);
}