:root {
    --orange : #ED9951;
}

@media screen and (min-width: 1025px) {
    .d-1025-block {
        display: block !important;
    }

    .d-1025-none {
        display: none !important;
    }

    .d-1025-flex {
        display: flex !important;
    }
}

@media screen and (min-width: 1300px) {
    .search-box {
        width: 670px;
    }
}

.shop {
    background-color: #fff;
    direction: rtl;
}

.bg-orange {
    background: var(--orange);
}

.pointer {
    cursor: pointer;
}

.h-full {
    height: 100vh;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.woodmart-logo {
    max-width: 138px;
}

.count {
    font-size: 8px;
}

.petshop-logo {
    max-width: 210px;
}

input:focus {
    outline: 0;
}

.select-category {
    font-size: 15px;
}

.search-box input {
    min-width: 290px;
}

.search-box {
    min-width: 490px;
}

.select-category {
    width: 172px;
}

.select-category-menu {
    border-radius: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .15);
}

.header-item {
    color: #333;
    transition: color .1s ease-in-out;
}

.header-item:hover,
.search-icon:hover {
    color: rgba(51, 51, 51, .6);
}

.header-icon {
    font-size: 18px;
}

.category-menu {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    width: 270px;
}

nav ul li:hover,
.active {
    color: var(--orange);
}

nav ul li a {
    color: inherit;
}

.bg-orange .social-media-link {
    color: white;
    transition: color .1s ease-in-out;
}

.bg-orange .social-media-link:hover {
    color: rgba(255, 255, 255, .6);
}

nav .social-media-link {
    color: rgba(0, 0, 0, .6);
    transition: color .1s ease-in-out;
}

nav .social-media-link:hover {
    color: rgba(0, 0, 0, .8);
}

nav .social-media {
    align-self: center !important;
}

.header-navbar {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    min-height: 56px;
}

/* main */

main {
    background-color: rgb(255, 250, 238);
}